:root{
    --colmain: #50cb84;
    --colblack:#8e8e8e;
    --collight:#96DFB5;
    --coldark:#388E5C;
    --coldark2:#30794F ;
    --colback:#EDF9F2 ;
    --white:#fff;
    --col3:#84DAA8;
    --col32:#61D090;
    --contents:#f4fff4;
}
body{
    background-color:var(--colback);
    margin:0px;
}
header{
    margin:0px;
    background: linear-gradient(to right, var(--collight),var(--colmain),var(--collight));
}
#headder-logo-wrapper{
    margin:0 auto;
    text-align: center;
    max-width: 1010px;
}
#headder-logo{
    font-size:40px;
    padding:10px;
    color:var(--white);
}
#message{
    color:var(--white);
    text-align: center;
}
#tab{
    margin:0 auto;
    text-align:center;
}
#tab-url:hover, #tab-text:hover, #tab-home:hover{
    transition: .4s;
    background:var(--colmain);
}
#tab-url, #tab-text, #tab-home{
    vertical-align: center;
    display: inline-block;
    width:calc(100% / 3);
    padding:15px 0;
    background-color:var(--colback);
    box-sizing:border-box;
    border-right:solid var(--coldark) 2px;
    border-left:solid var(--coldark) 2px;
    border-bottom:solid var(--coldark) 3px;
    font-size:20px;
    color:#000;
}
#description{
    text-align:center;
    margin:40px 0 0 0;
}
#input-buttom{
    margin:30px auto;
}
#url-input-wrapper{
    height:300px;
    width:65%;
    display:inline-block;
    vertical-align: top;
}
#word1, #word2, #word3, #url-input, #textarea{
    width:80%;
    margin:30px auto;
    height:40px;
    display:block;
    margin-bottom:30px;
}
#submit-wrapper{
    display:inline-block;
    width:35%;
}
.submit{
    text-align: center;
    font-size:30px;
    line-height:180px;
    height:180px;
    width:70%;
    color:var(--white);
    font-weight: bold;
    margin:30px 0;
    background-color:var(--coldark);

    display: inline-block;
    text-decoration: none;
}
.submit:hover {
  background: var(--colmain);
    transition: .4s;
}
.result{
    background-color: var(--colblack);
}
.result::placeholder{
    color:var(--white);
}
*{
    box-sizing: border-box;
}
#contents{
    width:100%;
    max-width:1010px;
    background-color: var(--contents);
    margin: 0 auto;
    padding-bottom:100px;
}
footer{
    text-align:right;
    background-color:var(--contents);
    margin:0px;
    padding:10px 60px;
    width:100%;
}
@media screen and (max-width: 700px)
{
    #url-input-wrapper{
        height:auto;
        width:100%;
        display:inline-block;
        vertical-align: top;
    }
    #word1, #word2, #word3, #url-input, #textarea{
        width:80%;
        margin:30px auto;
        height:40px;
        display:block;
        margin-bottom:30px;
    }
    #submit-wrapper{
        width:100%;
        margin:0 auto;
        padding:0px;
        display:inline-block;
        text-align:center;
    }
    .submit{
        text-align: center;
        margin:0 auto;
        font-size:30px;
        line-height:80px;
        width:150px;
        height:80px;
        color:var(--white);
        font-weight: bold;
        background-color:var(--coldark);
        text-decoration: none;
    }
    .submit:hover {
    background: var(--colmain);
        transition: .4s;
    }
}
.hide{
    opacity: 0;
    text-align: center;
}
.nohide{
    opacity: 1;
}
.geted-words{
    display:auto;
    text-align:center;
    font-size:25px;
    background-color:var(--white);
}

.geted-result{
    height:300px;
    background-color:var(--white);
}
